# Private working folders -- never pushed to the public repo.
# ideas/ is live planning notes; source-material/ holds other people's assets
# (e.g. the pack this one is based on) that we don't have redistribution
# rights to.
ideas/
source-material/
